<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
  <Package Name="SDL3" Manufacturer="RobbyTech" Version="3.4.0" UpgradeCode="b4f1f4b9-2377-4e2e-90f8-4cba7b2bee55" Compressed="yes">
    <WixVariable Id="WixUILicenseRtf" Value="license/license.rtf" />
    <MediaTemplate EmbedCab="yes" />
    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLDIR" Name="!(bind.Property.ProductName)">
        <Directory Id="LIBDIR" Name="lib" />
      </Directory>
    </StandardDirectory>
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <ui:WixUI Id="WixUI_InstallDir" InstallDirectory="INSTALLDIR" />
    <ComponentGroup Id="Components">
      <Component Id="MainInstall" Guid="0d9ba8f5-b959-4319-bbd1-a57617bc9332" Directory="INSTALLDIR" Bitness="always64">
        <File Source="install/LICENSE.txt" />
        <File Source="install/README.md" />
      </Component>
      <Component Id="LibInstall" Guid="13b09f05-fc6d-4066-bb72-7fd63936e94f" Directory="LIBDIR" Bitness="always64">
        <Environment Id="PATH" Name="PATH" Value="[LIBDIR]" Permanent="no" Part="last" Action="set" System="yes" />
        <File Source="install/lib/SDL3.dll" />
      </Component>
    </ComponentGroup>
    <Feature Id="SDLFeature">
      <ComponentGroupRef Id="Components" />
    </Feature>
  </Package>
</Wix>
